<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.edu.huatec.mobileshop">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--&lt;!&ndash; Required &ndash;&gt;-->
    <!--<permission-->
        <!--android:name="com.edu.huatec.mobileshop.permission.JPUSH_MESSAGE"-->
        <!--android:protectionLevel="signature" />-->

    <!--&lt;!&ndash; Required &ndash;&gt;-->
    <!--<uses-permission android:name="com.edu.huatec.mobileshop.permission.JPUSH_MESSAGE" />-->
    <!--<uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />-->
    <!--<uses-permission android:name="android.permission.INTERNET" />-->
    <!--<uses-permission android:name="android.permission.READ_PHONE_STATE" />-->
    <!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->
    <!--<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />-->
    <!--<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />-->
    <!--<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />-->
    <!--<uses-permission android:name="android.permission.WRITE_SETTINGS" />-->
    <!--<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />-->

    <!--&lt;!&ndash; Optional. Required for location feature &ndash;&gt;-->
    <!--<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />-->
    <!--&lt;!&ndash; 用于开启 debug 版本的应用在 6.0 系统上的层叠窗口权限 &ndash;&gt;-->
    <!--<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />-->
    <!--<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />-->
    <!--<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />-->
    <!--<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />-->
    <!--<uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />-->
    <!--<uses-permission android:name="android.permission.GET_TASKS" />-->
    <!--<uses-permission android:name="android.permission.VIBRATE" />-->
    <application
        android:allowBackup="true"
        android:name=".common.MobileShopApp"
        android:icon="@mipmap/mobileshop_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.AdActivity" />
        <activity android:name=".activity.LoginActivity"/>

        <activity android:name=".activity.MyOrderActivity" />
        <activity android:name=".activity.MyCollectActivity" />
        <activity android:name=".activity.MyAddressActivity" />
        <activity android:name=".activity.ChangePwdActivity" />

        <activity android:name=".activity.GoodsListActivity" />
        <activity android:name=".activity.GoodsDetailActivity" />
        <!--&lt;!&ndash; Required SDK 核心功能&ndash;&gt;-->
        <!--&lt;!&ndash; 可配置 android:process 参数将 PushService 放在其他进程中 &ndash;&gt;-->
        <!--<service-->
            <!--android:name="cn.jpush.android.service.PushService"-->
            <!--android:enabled="true"-->
            <!--android:exported="false" >-->
            <!--<intent-filter>-->
                <!--<action android:name="cn.jpush.android.intent.REGISTER" />-->
                <!--<action android:name="cn.jpush.android.intent.REPORT" />-->
                <!--<action android:name="cn.jpush.android.intent.PushService" />-->
                <!--<action android:name="cn.jpush.android.intent.PUSH_TIME" />-->
            <!--</intent-filter>-->
        <!--</service>-->
        <!--&lt;!&ndash; since 3.0.9 Required SDK 核心功能&ndash;&gt;-->
        <!--<provider-->
            <!--android:authorities="com.edu.huatec.mobileshop.DataProvider"-->
            <!--android:name="cn.jpush.android.service.DataProvider"-->
            <!--android:exported="true"            />-->

        <!--&lt;!&ndash; since 1.8.0 option 可选项。用于同一设备中不同应用的 JPush 服务相互拉起的功能。 &ndash;&gt;      &lt;!&ndash; 若不启用该功能可删除该组件，或把 enabled 设置成 false ；拉起服务被关闭，App 不会通过拉起服务拉起其他的 App，也不会被其他 App 拉起。 &ndash;&gt;-->
        <!--<service-->
            <!--android:name="cn.jpush.android.service.DaemonService"-->
            <!--android:enabled="true"-->
            <!--android:exported="true">-->
            <!--<intent-filter >-->
                <!--<action android:name="cn.jpush.android.intent.DaemonService" />-->
                <!--<category android:name="com.edu.huatec.mobileshop"/>-->
            <!--</intent-filter>-->
        <!--</service>-->

        <!--&lt;!&ndash; since 3.1.0 Required SDK 核心功能&ndash;&gt;-->
        <!--<provider-->
            <!--android:authorities="com.edu.huatec.mobileshop.DownloadProvider"-->
            <!--android:name="cn.jpush.android.service.DownloadProvider"-->
            <!--android:exported="true"           />-->

        <!--&lt;!&ndash; Required SDK 核心功能&ndash;&gt;-->
        <!--<receiver-->
            <!--android:name="cn.jpush.android.service.PushReceiver"-->
            <!--android:enabled="true" >-->
            <!--<intent-filter android:priority="1000">-->
                <!--<action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />-->
                <!--<category android:name="com.edu.huatec.mobileshop"/>-->
            <!--</intent-filter>-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.USER_PRESENT" />-->
                <!--<action android:name="android.net.conn.CONNECTIVITY_CHANGE" />-->
            <!--</intent-filter>-->
            <!--&lt;!&ndash; Optional &ndash;&gt;           <intent-filter>-->
            <!--<action android:name="android.intent.action.PACKAGE_ADDED" />-->
            <!--<action android:name="android.intent.action.PACKAGE_REMOVED" />-->
            <!--<data android:scheme="package" />-->
        <!--</intent-filter>-->
        <!--</receiver>-->

        <!--&lt;!&ndash; Required SDK 核心功能&ndash;&gt;-->
        <!--<activity-->
            <!--android:name="cn.jpush.android.ui.PushActivity"           android:configChanges="orientation|keyboardHidden"            android:theme="@android:style/Theme.NoTitleBar"-->
            <!--android:exported="false" >-->
            <!--<intent-filter>-->
                <!--<action android:name="cn.jpush.android.ui.PushActivity" />-->
                <!--<category android:name="android.intent.category.DEFAULT" />-->
                <!--<category android:name="com.edu.huatec.mobileshop" />-->
            <!--</intent-filter>-->
        <!--</activity>-->
        <!--&lt;!&ndash; SDK 核心功能&ndash;&gt;-->
        <!--<activity           android:name="cn.jpush.android.ui.PopWinActivity"-->
            <!--android:configChanges="orientation|keyboardHidden"-->
            <!--android:exported="false"-->
            <!--android:theme="@style/MyDialogStyle">-->
            <!--<intent-filter>-->
                <!--<category android:name="android.intent.category.DEFAULT" />-->
                <!--<category android:name="com.edu.huatec.mobileshop" />-->
            <!--</intent-filter>-->
        <!--</activity>-->

        <!--&lt;!&ndash; Required SDK 核心功能&ndash;&gt;-->
        <!--<service  android:name="cn.jpush.android.service.DownloadService"-->
            <!--android:enabled="true"-->
            <!--android:exported="false" ></service>-->

        <!--&lt;!&ndash; Required SDK 核心功能&ndash;&gt;-->
        <!--<receiver android:name="cn.jpush.android.service.AlarmReceiver" />-->

        <!--&lt;!&ndash; User defined. 用户自定义的广播接收器&ndash;&gt;-->
        <!--<receiver-->
            <!--android:name="您自己定义的 Receiver"-->
            <!--android:enabled="true"-->
            <!--android:exported="false">-->
            <!--<intent-filter>-->
                <!--&lt;!&ndash;Required 用户注册 SDK 的 intent&ndash;&gt;-->
                <!--<action android:name="cn.jpush.android.intent.REGISTRATION" />-->
                <!--&lt;!&ndash;Required 用户接收 SDK 消息的 intent&ndash;&gt;-->
                <!--<action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />-->
                <!--&lt;!&ndash;Required 用户接收 SDK 通知栏信息的 intent&ndash;&gt;-->
                <!--<action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />-->
                <!--&lt;!&ndash;Required 用户打开自定义通知栏的 intent&ndash;&gt;-->
                <!--<action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />-->
                <!--&lt;!&ndash; 接收网络变化 连接/断开 since 1.6.3 &ndash;&gt;-->
                <!--<action android:name="cn.jpush.android.intent.CONNECTION" />-->
                <!--<category android:name="com.edu.huatec.mobileshop" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->


        <!--&lt;!&ndash; Required. For publish channel feature &ndash;&gt;      &lt;!&ndash; JPUSH_CHANNEL 是为了方便开发者统计 APK 分发渠道。&ndash;&gt;      &lt;!&ndash; 例如: &ndash;&gt;      &lt;!&ndash; 发到 Google Play 的 APK 可以设置为 google-play; &ndash;&gt;       &lt;!&ndash; 发到其他市场的 APK 可以设置为 xxx-market。 &ndash;&gt;-->
        <!--<meta-data android:name="JPUSH_CHANNEL" android:value="developer-default"/>-->
        <!--&lt;!&ndash; Required. AppKey copied from Portal &ndash;&gt;-->
        <!--<meta-data android:name="JPUSH_APPKEY" android:value="69f84857985a5e38de12c2ad"/>-->
    </application>
</manifest>